* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  /* background: url('./img/bg.jpg'); */
  background: #1f1f1f;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: #000;
  z-index: 1;
  border-bottom: 1px solid lightgray;
}

.navbar__container {
  display: flex;
  height: 100px;
  align-items: center;
  margin-right: 0;
  /* border: 1px solid yellow; */
  width: 100%;
  justify-content: space-between;
}

.navbar__left-logo img {
  display: flex;
}

.navbar__right {
  display: flex;
  list-style-type: none;
  margin-right: 0px;
  width: 100%;
}

#hidden .navbar__right {
  display: flex;
  list-style-type: none;
}

.navbar__right li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 0 15px;
  transition: all 0.3s linear;
  margin-right: 0;
}

.navbar__right li a:hover,
.navbar__right li a:focus {
  color: #03a4ff;
}

.kemps__logo {
  background: #03a4ff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  height: 100%;
  display: flex;
}

.kemps__icon {
  font-size: 22px;
}

/* Helpers */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Grid System */
.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col-6 {
  display: flex;
  width: 50%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-10 {
  display: flex;
  width: 83.33333333333333%;
}

.center {
  justify-content: center;
  align-items: center;
}

/* header */

.header__content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.header__ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}

.header__ul li {
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  height: 60px;
}

.header__ul li:first-child {
  margin-left: 0;
}

/* .icons-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
} */

.header__ul li a {
  display: flex;
  border: 2px solid #03a4ff;
  border-radius: 50%;
  margin: auto;
  width: 60px;
  height: 60px;
}

.icon__principal {
  color: #fff;
  height: 100%;
  margin: auto;
  transition: all 0.3s linear;
}

.icon__principal:hover {
  background: #03a4ff;
}

.icon__banner {
  font-size: 30px;
  right: 0;
  color: #fff;
  margin: auto;
}

.header__section h1 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 30px;
}

.header__section p {
  font-size: 27px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}

.under__bar {
  background: #03a4ff;
  width: 90%;
  height: 3px;
}

.btn {
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn-outline {
  border: 1px solid #03a4ff;
  border-radius: 50px;
  padding: 13px 40px;
}

.btn-smart {
  background: #03a4ff;
  padding: 13px 40px;
  border-radius: 50px;
}

.play {
  font-size: 25px !important;
  padding-top: 10px;
}

.banner__img {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.banner__img img {
  width: 370px;
  height: 370px;
  border: 2px solid #03a4ff;
  border-radius: 50%;
}

/* Sertvices */

.skills {
  background: #1f1f1f;
  padding: 100px 0;
  color: #fff;
}

.common {
  width: 33.3333333333333333333333%;
  margin: 20px auto;
  text-align: center;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
  color: #03a4ff;
  font-size: 16px;
}

.mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.mainContent {
  font-size: 16px;
  color: #dfdfdf;
}

.commonBorder {
  background: #03a4ff;
  height: 3px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.services__box {
  padding: 40px;
  background: #1f1f1f;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
  border: 2px solid #03a4ff;
}

.services__box:hover {
  background: #03a4ff;
}

.commonIcons {
  font-size: 40px;
  color: #03a4ff;
  margin-bottom: 15px;
}

.services__box:hover .commonIcons {
  color: #fff;
  transition: all 0.5s linear;
}

.services__box-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services__box-p {
  font-size: 16px;
  color: #dfdfdf;
}

/* About */

.about {
  width: 100%;
  background: #000;
  padding: 100px 0;
  color: #fff;
  padding: 100px 0;
}

.about__info {
  color: #fff;
  border: 1px solid #03a4ff;
}

.about__info-box {
  margin: 15px;
}

.about__info h1 {
  margin-bottom: 30px;
}

.about__info-p1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.about__info-p2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.info__contacts {
  margin-top: 20px;
}

.info__contacts strong {
  color: #03a4ff;
}

.info__contacts p {
  margin-top: 3px;
  margin-left: 5px;
}

.info__contacts .col-6 {
  margin: 10px 0;
  align-items: center;
}

.info__contacts .col-6 a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s linear;
}

.info__contacts .col-6 a:hover {
  text-decoration: none;
  color: #77eaf9;
}

/* Portfolio */

.portfolio {
  width: 100%;
  background: #000;
  padding: 100px 0;
  color: #fff;
  padding: 100px 0;
}

.portfolio__box {
  padding: 40px;
  background: #1f1f1f;
  color: #fff;
  margin: 20px;
  transition: all 0.5s linear;
  border: 2px solid #03a4ff;
}

.portfolio__box:hover {
  background: #03a4ff;
  color: #fff !important;
}

.portfolio__img {
  width: 100%;
}

.portfolio__box img {
  width: 100%;
}

.portfolio__box-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

.portfolio__box-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.portfolio__box-link {
  font-size: 14px;
}

.portfolio__box-link p {
  color: #e98d4f;
}

.portfolio__box-link a {
  text-decoration: none;
  color: #fff;
}

.portfolio__box-link a:visited {
  text-decoration: none;
  color: #fff;
}

/* Contact */

.contact {
  background: #000;
  padding: 100px 0;
}
.toglle {
  color: #fff;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: none;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .col-10 {
    font-size: 12px;
    display: flex;
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .banner__img img {
    display: none;
  }

  .toglle {
    color: #fff;
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
  }

  .navbar__right {
    display: flex;
    list-style-type: none;
    display: none;
  }

  .common {
    width: 100%;
  }

  #hidden .navbar__right {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #1f2235;
    position: fixed;
    top: 0;
    left: 0;
  }

  #hidden .navbar__right li a {
    display: block;
    padding: 20px 0;
    font-size: 14pkx;
  }

  .kemps__logo {
    display: none;
  }

  .info__contacts .row .col-6 {
    display: flex;
    align-items: center;
  }

  .info__contacts p {
    margin-left: 5px;
  }

  .row .center {
    display: block;
    width: 100%;
  }
}
